#sign-in {
    max-width: 500px;
    width: 80%;
}

input.sign-in {
    padding: 10px;
}

#sign-up {
    max-width: 800px;
    width: 80%;
}

a {
    text-decoration: none;
}

#add-training {
    max-width: 700px;
    width: 80%;
}