{% extends 'base.html' %}

{% block title %}
    Add Training
{% endblock %}

{% block content %}
    <div class="container mt-5 p-5" id="add-training">
        <h1 class="mb-3 display-6 text-center">Add training</h1>
        {% set form_id="user-training-form" %}
        {% include "user_training_form.html" %}
        <div class="container text-center">
            <a href="/training/view"><button type="button" class="btn btn-secondary fs-6 mt-3">Cancel</button></a>
            <button type="submit" form="{{ form_id }}" class="btn btn-primary fs-6 mt-3">Submit</button>
        </div>
    </div>
{% endblock %}