{% extends "base.html" %}

{% block title %}Sign In{% endblock %}

{% block content %}
    <div class="container border rounded mt-5 p-5 shadow text-center" id="sign-in">
        <h1 class="display-6 mb-3">Sign in</h1>
        <form method="POST" class="mb-4">
            <div class="d-flex form-group mb-3">
{#                <label for="email">Email</label>#}
                <input type="email" class="form-control sign-in" id="email" name="email"
                       aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="d-flex form-group">
{#                <label for="password">Password</label>#}
                <input type="password" class="form-control sign-in" id="password" name="password"
                       placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary fs-6 mt-4">Sign In</button>
        </form>
        <a class="fw-bold" href="sign-up">Create account</a>
    </div>
{% endblock %}